<html>
   <head>
         <title>Mailjure 0.1</title>
         <meta charset="iso-8859-1">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="/stylesheets/foundation.css" type="text/css" media="all">
         <script src="/js/jquery.js"></script>
         <script src="/js/jquery.foundation.topbar.js"></script>
<script>
  $(document).foundationTopBar();
</script>
</head>
<body>
  <div>
    <nav class="top-bar">
        <ul>
          <li class="name"><h1><a href="http://localhost:8080">Mailjure</a></h1></li>
          <li class="toggle-topbar"><a href="#"/></a></li>
        </ul>
        <section>
          <ul class="left">
            <li class="has-dropdown">
              <a href="#">Home</a>
              <ul class="dropdown">
                <li class="has-dropdown"><a href="/deliver/list">Delivery</a>
                  <ul class="dropdown">
                    <li><a href="/delivery/new">New</li>
                    <li><a href="/delivery/list">List all</a></li>
                  </ul>
                </li>
                <li class="has-dropdown"><a href="/recipients/list">Recipients</a>
                  <ul class="dropdown">
                    <li><a href="/recipients/new">New</li>
                    <li><a href="/recipients/list">List all</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Setup</a>
              <ul class="dropdown">
                <li><a href="/deliver/list">Delivery</a>
                </li>
              </ul>
            </li>
          </ul>

        </section>
    </nav>

    <div id="container">
      <div class="pad"></div>
    </div>

    <div class="wrapper row3">
      <footer id="footer" class="clear">
        <div class="pad">
          <p class="fl_left">COpyright &copy; 2012 - All right reserved - <a href="mailjure.com">mailjure.com</a></p>
          <p class="fl_right">Developed using clojure technologies</p>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
